<h2 mat-dialog-title>Operation</h2>
<mat-dialog-content>
	<form [formGroup]="operationForm">
		<div class="d-flex flex-wrap" style="gap: 10%;">
			<div style="width: 45%;">
				<mat-form-field class="w-100">
					<mat-label>Title</mat-label>
					<input matInput formControlName="name">
				</mat-form-field>
			</div>
			<div style="width: 45%;">
				<mat-form-field class="w-100">
					<mat-label>Amount</mat-label>
					<input matInput type="number" min="0" formControlName="amount">
				</mat-form-field>
			</div>
			<div style="width: 45%;">
				<mat-form-field class="w-100">
					<mat-label>Type</mat-label>
					<mat-select formControlName="type">
						<mat-option [value]="0">
							Income
						</mat-option>
						<mat-option [value]="1">
							Expenses
						</mat-option>
						<mat-option [value]="2">
							Transfer
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div style="width: 45%;">
				<mat-form-field class="w-100">
					<mat-label>Category</mat-label>
					<mat-select formControlName="categoryId">
						<mat-option *ngFor="let cat of filteredCategories(); trackBy: trackByCategory" [value]="cat.id">
							{{ cat.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="w-100 d-flex" style="gap: 10%">
				<div style="width: 45%;">
					<mat-form-field class="w-100">
						<mat-label>{{ operationForm.controls.type.value === 2 ? 'Source Account': 'Account'
							}}</mat-label>
						<mat-select formControlName="sourceAccountId">
							<mat-option *ngFor="let account of accounts()" [value]="account.id">
								{{ account.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div style="width: 45%;">
					@if (operationForm.controls.type.value === 2) {
					<mat-form-field class="w-100">
						<mat-label>Target Account</mat-label>
						<mat-select formControlName="targetAccountId">
							<mat-option *ngFor="let account of accounts()" [value]="account.id">
								{{ account.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>
					}
				</div>
			</div>
		</div>
		<div class="w-100 d-flex" style="gap: 10%">
			<div style="width: 45%;">
				<mat-form-field>
					<mat-label>{{ operationForm.controls.frequency.value !== -1 ? 'Start date' : 'Date'}}</mat-label>
					<input matInput [matDatepicker]="picker" formControlName="date">
					<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div>
			<div style="width: 45%;">
				<mat-form-field class="w-100">
					<mat-label>Frequency</mat-label>
					<mat-select formControlName="frequency">
						<mat-option [value]="-1">
							One time
						</mat-option>
						<mat-option [value]="1">
							Weekly
						</mat-option>
						<mat-option [value]="2">
							Monthly
						</mat-option>
						<mat-option [value]="3">
							Yearly
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div *ngIf="operationForm.controls.frequency.value !== -1">
			Scheduled options
			<div class="d-flex" style="gap: 10%">
				<div style="width: 45%;">
					<mat-form-field class="w-100">
						<mat-label>End Date</mat-label>
						<input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
						<mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
						<mat-datepicker #endDatePicker></mat-datepicker>
					</mat-form-field>
				</div>
				<div style="width: 45%;">
					<mat-form-field class="w-100">
						<mat-label>Interval</mat-label>
						<input matInput type="number" min="0" formControlName="interval">
					</mat-form-field>
				</div>
			</div>
		</div>
	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
	<button mat-flat-button mat-dialog-close cdkFocusInitial (click)="onYesClick()">
		Save
	</button>
</mat-dialog-actions>