<h2 mat-dialog-title>Operation</h2>
<mat-dialog-content>
	Edit operation
	<br />
	<form [formGroup]="categoryForm">
		<mat-form-field>
			<mat-label>Title</mat-label>
			<input matInput formControlName="name">
		</mat-form-field>
		<br>
		<mat-form-field>
			<mat-label>Amount</mat-label>
			<input matInput type="number" min="0" formControlName="amount">
		</mat-form-field>
		<br>
		<mat-form-field>
			<mat-label>Type</mat-label>
			<mat-select formControlName="type">
				<mat-option [value]="0">
				  Income
				</mat-option>
				<mat-option [value]="1">
					Expenses
				</mat-option>
			  </mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Date</mat-label>
			<input matInput [matDatepicker]="picker" formControlName="date">
			<mat-hint>MM/DD/YYYY</mat-hint>
			<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		  </mat-form-field>
		<mat-form-field>
			<mat-label>Type</mat-label>
			<mat-select formControlName="categoryId">
				<mat-option *ngFor="let cat of categories(); trackBy: trackByCategory" [value]="cat.id">
				  {{ cat.name }}
				</mat-option>
			  </mat-select>
		</mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
	<button mat-button mat-dialog-close cdkFocusInitial (click)="onYesClick()">
		Save
	</button>
</mat-dialog-actions>
