<fp-metric *ngIf="account">
    <div class="d-flex" header>
        <p>
            {{ account.name }}
        </p>
        <mat-icon class="ml-auto">credit_card</mat-icon>
    </div>
    <div content>
        <hr class="mt-1" [class.bg-color-primary]="account.isDefault">
        <div class="content d-flex mt-2 justify-between">
            <div class="mt-auto mb-auto text-5" [class.color-red]="account.balance < 0">
                {{ account.balance | currency: account.currency }}
            </div>
            <div class="buttons">
                <button mat-icon-button (click)="onEdit.emit()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button *ngIf="!account.isDefault" (click)="onDelete.emit()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</fp-metric>