:host {
    .content {
        .buttons {
            display: flex;
            visibility: hidden;
        }
    }
}

:host:hover {
    .content {
        .buttons {
            visibility: visible;
        }
    }
}