<h2 mat-dialog-title>Account</h2>
<mat-dialog-content [formGroup]="accountForm">
	<mat-form-field class="w-100">
		<mat-label>Name</mat-label>
		<input matInput formControlName="name">
		@if (accountForm.controls.name.invalid) {
			<mat-error>Name is not valid</mat-error>
		}
	</mat-form-field>
	<br>
	<mat-form-field class="w-100">
		<mat-label>Balance</mat-label>
		<input matInput type="number" min="0" formControlName="balance">
		@if (accountForm.controls.balance.invalid) {
			<mat-error>Balance is not valid</mat-error>
		}
	</mat-form-field>
	<mat-form-field class="w-100">
		<mat-label>Currency</mat-label>
		<mat-select formControlName="currency">
			<mat-option *ngFor="let currency of currenciesList" [value]="currency.symbol">
				{{ currency.name + ' - ' + currency.symbol }}
			</mat-option>
		</mat-select>
		@if (accountForm.controls.currency.invalid) {
			<mat-error>Currency is not valid</mat-error>
		}
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
	<button mat-flat-button cdkFocusInitial (click)="onYesClick()">
		Save
	</button>
</mat-dialog-actions>