<div class="h-100 d-flex flex-wrap" style="gap:5%">
    <div class="item">
        <fp-card class="h-100">
            <p header>Expenses by month</p>
            <fp-chart class="pt-2 pb-2 pl-4 pr-4" content [config]="expensesConfig()">
            </fp-chart>
        </fp-card>
    </div>
    <div class="item">
        <fp-card class="h-100">
            <p header>Expenses by categories</p>
            <fp-chart class="pt-2 pb-2 pl-4 pr-4" content [config]="expenseCategoriesConfig()">
            </fp-chart>
        </fp-card>
    </div>
    <div class="item">
        <fp-card class="h-100">
            <p header>Incomes by month</p>
            <fp-chart class="pt-2 pb-2 pl-4 pr-4" content [config]="incomesConfig()">
            </fp-chart>
        </fp-card>
    </div>
    <div class="item">
        <fp-card class="h-100">
            <p header>Incomes by categories</p>
            <fp-chart class="pt-2 pb-2 pl-4 pr-4" content [config]="incomesCategoriesConfig()">
            </fp-chart>
        </fp-card>
    </div>
</div>