<div class="h-100 d-flex f-column">
    <div class="w-100 d-flex" style="height: 50%;">
        <div class="w-50">
            <fp-metric>
                <div header class="pl-1">
                    <p>Expenses by month</p>
                </div>
                <div class="pl-2 mt-2" content>
                    <fp-chart [config]="expensesConfig()">
                    </fp-chart>
                </div>
            </fp-metric>
        </div>
        <div class="w-50 ml-5">
            <fp-metric>
                <div header class="pl-1">
                    <p>Incomes by month</p>
                </div>
                <div class="pl-2 mt-2" content>
                    <fp-chart [config]="incomesConfig()">
                    </fp-chart>
                </div>
            </fp-metric>
        </div>
    </div>
    <fp-account-list style="height:50%">
    </fp-account-list>
</div>