.actions-menu {
    min-width: 8rem !important;
    min-height: 3rem;
    text-align: center;
}

.action-button {
    height: 28px !important;
    width: 28px !important;
    padding: 2px !important;

    mat-icon {
        font-size: 20px !important;
        height: 20px !important;
        width: 20px !important; 
    }
}

.table-container {
    overflow-y: auto;

    .item {
        .col {
            display: flex;
            margin: auto;
        }
    }
}