:host {
    display: block;
    text-align: center;
    padding: .5rem;
    display: flex;
    background-color: #005cbb;
    padding-left: 2rem;
    padding-right: 2rem;

    .label {
        font-size: 2em;
        font-weight: 400;
        color: white;
    }

    .links {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 6rem;
        display: flex;

        .item {
            margin-left: 3rem;
            display: flex;

            a {
                margin: auto;
                text-align: center;
                text-decoration: none;
                color: white;

                &.underline {
                    text-decoration: underline;
                }
            }
        }

    }
}