<div class="d-flex f-column h-100 p-2 pt-4 border bg-color-white">
	<div class="logo color-primary">
		<h2 class="text-center">FP</h2>
	</div>
	<hr class="mt-4">
	<div class="d-flex f-column h-100 justify-center mt-2">
		<div class="d-flex mt-1 justify-center" *ngFor="let item of menuItems">
			<button class="w-100" mat-flat-button *ngIf="matchesRoute(item.path)" [routerLink]="item.path">
				<mat-icon [fontIcon]="item.icon"></mat-icon>{{ item.label }}
			</button>
			<button class="w-100" mat-stroked-button *ngIf="!matchesRoute(item.path)" [routerLink]="item.path">
				<mat-icon [fontIcon]="item.icon"></mat-icon>{{ item.label }}
			</button>
		</div>
		<div class="mt-auto d-flex f-column">
			<div class="text-center">
				Serhii Popovych
			</div>
		</div>
	</div>
</div>