<div *ngIf="!operations" class="d-flex p-2">
    <mat-spinner class="m-auto"></mat-spinner>
</div>

<table *ngIf="operations" mat-table [dataSource]="operations">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" style="width: 35%;"> {{element.name}} </td>
      </ng-container>
      
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element" style="width: 35%;"> {{element.category}} </td>
      </ng-container>
      
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element" style="width: 15%;"> {{element.amount}}€ </td>
      </ng-container>
      
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element" style="width: 15%;"> {{element.date}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>