<div class="d-flex">
	<div>Starting balance:</div>
	<div class="ml-auto">{{ startingBalance }}€</div>
</div>

<div class="d-flex" style="color: green">
	<div>Incomes:</div>
	<div class="ml-auto">2000€</div>
</div>
<div class="d-flex" style="color: red">
	<div>Expenses:</div>
	<div class="ml-auto">1500€</div>
</div>
<div class="d-flex">
	<div>Saved this month:</div>
	<div class="ml-auto">500€</div>
</div>
<div class="d-flex" style="border-top: solid 1px black">
	<div>
		<b> Final balance: </b>
	</div>
	<div class="ml-auto">
		<b> 2000€ </b>
	</div>
</div>
