<div class="container h-100 w-100 bg-color-white">
    <table class="w-100" rules="none">
        <thead>
            <tr>
                <th *ngFor="let column of columns" [style.width.%]="column.width">
                    {{ column.title }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-color-bg border" *ngFor="let item of data; trackBy: trackByFn">
                <td *ngFor="let column of columns">
                    <ng-container *ngTemplateOutlet="getTemplateForColumn(column.name); context: { $implicit: item }">
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>