.d-flex {
	display: flex;
}

.f-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.f-1 {
	flex: 1;
}

.f-4 {
	flex: 4;
}

.justify-center {
	justify-content: center;
}

.justify-around {
	justify-content: space-around;
}

.justify-between {
	justify-content: space-between;
}

.justify-left {
	justify-content: left;
}

.justify-right {
	justify-content: right;
}

.align-center {
	align-items: center;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.pointer {
	cursor: pointer;
}

.underline {
	text-decoration: underline !important;
}

.uppercase {
	text-transform: uppercase;
}

.m-auto {
	margin: auto;
}

.mt-auto {
	margin-top: auto;
}

.mb-auto {
	margin-bottom: auto;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.w-100 {
	width: 100%;
}

.w-60 {
	width: 60%;
}

.w-50 {
	width: 50%;
}

.w-40 {
	width: 40%;
}

.w-30 {
	width: 30%;
}

.w-25 {
	width: 25%;
}

.w-20 {
	width: 20%;
}

.h-100 {
	height: 100%;
}

.mh-100 {
	max-height: 100%;
}

.select-none {
	user-select: none;
}

@for $i from 0 through 5 {
	.m-#{$i} {
		margin: $i * 0.5rem !important;
	}

	.mt-#{$i} {
		margin-top: $i * 0.5rem;
	}

	.mb-#{$i} {
		margin-bottom: $i * 0.5rem;
	}

	.ml-#{$i} {
		margin-left: $i * 0.5rem;
	}

	.mr-#{$i} {
		margin-right: $i * 0.5rem;
	}

	.p-#{$i} {
		padding: $i * 0.5rem;
	}

	.pt-#{$i} {
		padding-top: $i * 0.5rem;
	}

	.pb-#{$i} {
		padding-bottom: $i * 0.5rem;
	}

	.pl-#{$i} {
		padding-left: $i * 0.5rem;
	}

	.pr-#{$i} {
		padding-right: $i * 0.5rem;
	}
}
