@use '@angular/material' as mat;
@use 'styles/typography.scss';
@use 'styles/utils.scss';
@use 'styles/theme.scss';
@use 'styles/m3-theme.scss' as m3;

@include mat.core();

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	@include mat.all-component-themes(m3.$light-theme);
}
