<div class="d-flex h-100">
    <div class="w-100">
        <fp-card class="h-100">
            <div class="d-flex justify-between" header>
                <p class="mt-auto mb-auto">Categories</p>
                <button mat-flat-button (click)="onAddCategory()">
                    <mat-icon class="m-0">add</mat-icon>
                </button>
            </div>
            <div class="pt-2" style="max-height: 95%;" content>
                <fp-grid [columns]="columns" [data]="categories()">
                    <ng-template g-col="icon" let-category>
                        <mat-icon [style.color]="category.color">
                            {{category.iconName}}
                        </mat-icon>
                    </ng-template>
                    <ng-template g-col="name" let-category>
                        {{ category.name }}
                    </ng-template>
                    <ng-template g-col="type" let-category>
                        <div [ngSwitch]="category.type">
                            <div *ngSwitchCase="0">Incomes</div>
                            <div *ngSwitchCase="1">Expenses</div>
                            <div *ngSwitchCase="2">Transfer</div>
                        </div>
                    </ng-template>
                    <ng-template g-col="actions" let-category>
                        <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu">
                            <div class="pl-1 pr-1 d-flex f-column">
                                <button mat-menu-item (click)="onEditCategory(category)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item (click)="onDeleteCategory(category)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </div>
                        </mat-menu>
                    </ng-template>
                </fp-grid>
            </div>
        </fp-card>
    </div>
</div>