@use '../../../styles/theme.scss';

:host {
    .drawer-container {
        min-height: 100vh;
    }

    .mat-drawer {
        width: 15vw;
    }

    .mat-drawer-content {
        max-height: 100vh;
        height: 100vh !important;
        overflow: hidden !important;
        width: 85vw;
    }
}