:host {
    position: relative;
    display: flex;

    .shadow {
        opacity: 0.5;
        border-radius: 50%;
    }

    .dot {
        position: absolute;
        top: 25%;
        left: 25%;
        border-radius: 50%;
    }
}