<div class="d-flex w-100 h-100 justify-between">
	<div class="d-flex f-column" style="width:58%;gap: 2%;">
		<div class="d-flex justify-between" style="height: 10%;">
			<fp-month-selector class="mb-auto" (dateChanged)="onDateChange($event)"></fp-month-selector>
			<div class="d-flex h-100">
				<button class="h-100 text-center mb-auto" mat-flat-button (click)="onSync()" style="max-height: 100%;">
					<mat-icon class="m-0">sync</mat-icon>
				</button>
			</div>
		</div>
		<fp-operations-table style="height: 90%;" [operations]="operations" [currency]="defaultAccCurrency()"
					[loading]="operationsLoading()"></fp-operations-table>
	</div>
	<div class="w-40 pl-3 d-flex f-column" style="width: 40%; gap:2%">
		<div class="d-flex justify-between" style="gap:4%; height: 42%;">
			<div class="" style="width: 48%;">
				<fp-card class="h-100">
					<div class="h-100" content>
						<fp-operations-widget [operations]="incomeOperations">
						</fp-operations-widget>
					</div>
					<div class="mt-2 pl-1 pb-1" footer>
						<p class="color-secondary">Incomes</p>
						<h5 class="mt-1 color-green">+ {{incomeTotal() || '' | currency: defaultAccCurrency()}}</h5>
					</div>
				</fp-card>
			</div>
			<div style="width: 48%;">
				<fp-card class="h-100">
					<div class="h-100" content>
						<fp-operations-widget [operations]="expenseOperations">
						</fp-operations-widget>
					</div>
					<div class="mt-2 pl-1 pb-1" footer>
						<p class="color-secondary">Expenses</p>
						<h5 class="mt-1 color-red">- {{expenseTotal() || '' | currency: defaultAccCurrency()}}</h5>
					</div>
				</fp-card>
			</div>
		</div>
		<div style="max-height: 30%;">
			<fp-categories-progress-list [operations]="operations">
			</fp-categories-progress-list>
		</div>
		<fp-month-summary style="min-height: 24%; max-height: 24%; margin-top: auto;" [selectedDate]="selectedDate()"></fp-month-summary>
	</div>
</div>